body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-36px;
  width:525px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:36px;
  top:49px;
  width:525px;
  height:591px;
}
#u800 {
  position:absolute;
  left:2px;
  top:288px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:44px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801 {
  position:absolute;
  left:36px;
  top:6px;
  width:525px;
  height:44px;
}
#u802 {
  position:absolute;
  left:2px;
  top:14px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u803 {
  position:absolute;
  left:53px;
  top:20px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u805 {
  position:absolute;
  left:530px;
  top:10px;
  width:22px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u805_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u805.mouseOver {
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:159px;
  top:65px;
  width:292px;
  height:36px;
}
#u809 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810 {
  position:absolute;
  left:163px;
  top:72px;
  width:283px;
  height:24px;
}
#u810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:57px;
  top:77px;
  width:62px;
  height:16px;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:57px;
  top:172px;
  width:62px;
  height:16px;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:56px;
  top:482px;
  width:62px;
  height:16px;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:158px;
  top:472px;
  width:292px;
  height:36px;
}
#u819 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:162px;
  top:479px;
  width:283px;
  height:24px;
}
#u820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:56px;
  top:536px;
  width:34px;
  height:16px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:39px;
}
#u823 {
  position:absolute;
  left:158px;
  top:518px;
  width:37px;
  height:39px;
}
#u824 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_ann {
  position:absolute;
  left:188px;
  top:514px;
  width:1px;
  height:1px;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u825 {
  position:absolute;
  left:367px;
  top:590px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u825_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u825.mouseOver {
}
#u825_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u825.selected {
}
#u826 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u827 {
  position:absolute;
  left:471px;
  top:590px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u827_img.mouseOver {
}
#u827.mouseOver {
}
#u828 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:57px;
  top:353px;
  width:76px;
  height:16px;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u829_ann {
  position:absolute;
  left:126px;
  top:349px;
  width:1px;
  height:1px;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:57px;
  top:263px;
  width:62px;
  height:16px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u833 {
  position:absolute;
  left:159px;
  top:172px;
  width:100px;
  height:16px;
}
#u834 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u833_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u835 {
  position:absolute;
  left:299px;
  top:172px;
  width:100px;
  height:16px;
}
#u836 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u835_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u837 {
  position:absolute;
  left:159px;
  top:263px;
  width:100px;
  height:16px;
}
#u838 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u837_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u839 {
  position:absolute;
  left:299px;
  top:263px;
  width:100px;
  height:16px;
}
#u840 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u841 {
  position:absolute;
  left:158px;
  top:353px;
  width:100px;
  height:16px;
}
#u842 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u841_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u843 {
  position:absolute;
  left:298px;
  top:353px;
  width:100px;
  height:16px;
}
#u844 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u843_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:57px;
  top:396px;
  width:62px;
  height:16px;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u847 {
  position:absolute;
  left:158px;
  top:396px;
  width:100px;
  height:16px;
}
#u848 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u847_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u849 {
  position:absolute;
  left:298px;
  top:396px;
  width:100px;
  height:16px;
}
#u850 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u849_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:159px;
  top:116px;
  width:292px;
  height:36px;
}
#u853 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:163px;
  top:123px;
  width:283px;
  height:24px;
}
#u854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:57px;
  top:128px;
  width:62px;
  height:16px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u857 {
  position:absolute;
  left:223px;
  top:518px;
  width:35px;
  height:35px;
}
#u858 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:57px;
  top:219px;
  width:48px;
  height:16px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u860_ann {
  position:absolute;
  left:98px;
  top:215px;
  width:1px;
  height:1px;
}
#u862 {
  position:absolute;
  left:159px;
  top:208px;
  width:292px;
  height:36px;
}
#u862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u862_input:disabled {
  color:grayText;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  position:absolute;
  left:57px;
  top:307px;
  width:62px;
  height:16px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u865_ann {
  position:absolute;
  left:112px;
  top:303px;
  width:1px;
  height:1px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:158px;
  top:297px;
  width:292px;
  height:36px;
}
#u869 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870 {
  position:absolute;
  left:162px;
  top:304px;
  width:283px;
  height:24px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u871 {
  position:absolute;
  left:158px;
  top:561px;
  width:219px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:57px;
  top:435px;
  width:62px;
  height:16px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u875 {
  position:absolute;
  left:158px;
  top:435px;
  width:100px;
  height:16px;
}
#u876 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u875_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u877 {
  position:absolute;
  left:298px;
  top:435px;
  width:100px;
  height:16px;
}
#u878 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u877_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
